<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_trasstarea"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_trasstarea"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppGestionTareas">
        <activity
            android:name=".controlador.BaseFilePickerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prefs.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.crud.EditarTareaActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.AppGestionTareas.NoActionBar" />
        <activity
            android:name=".ui.crud.CrearTareaActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.AppGestionTareas.NoActionBar" />
        <activity
            android:name=".ui.crud.listado.ListadoTareasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.AppGestionTareas.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>